@import "../libs/qst/src/all"
$global-reset();
$viewsize();
$oocss();

$support-old-ie = false;
$original-size = false;

.js_hide {
  display: none !important
}

body {
  font-family: $default-base-font-family
  background-color: #fff
  -webkit-user-select: inherit;
  user-select: inherit;
}

#pageLoading {
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: 9999
  background rgba(255, 255, 255, .8) url("../image/loading.gif") no-repeat center center
}

