@import "../libs/qst/src/all"
$global-reset();
$viewsize();
$oocss(true);

$default-font-size = 17.77777778px;
$support-old-ie = false;
$original-size = false;

.js_hide {
  display: none !important
}

a {
  display: inline-block
  color: inherit
}

body {
  font-family: $default-mobile-font-family
  background-color: #fff
  -webkit-user-select: inherit;
  user-select: inherit;
}

//--------------------------------------------------------【基础布局】
.viewport {
  margin: 0 auto
  position: relative
}

.page,
.page > .viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
  overflow-y: scroll;
  height: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

//--------------------------------------------------------【页面加载中遮罩】
#pageLoading {
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: 9999
  background rgba(255, 255, 255, .8) url("../../image/common/loading.gif") no-repeat center center
}